mixin menuLink(title, href = "#")
	li.header-menu-item
		a.header-menu-link(href= href)= title

mixin headerBottomItem(number, text)
	.header-bottom-item 
		span.header-bottom-number= number
		span.header-bottom-text= text

mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption 
		h2.block-box-heading= title 
		if desc 
			p.block-box-desc= desc

mixin aboutItem(image, title, iconClass, alt = "")
	.about-item 
		img.about-image(src= image, alt= alt)
		.about-content 
			i.about-icon(class= iconClass)
			span.about-title= title

mixin numberItem(count, title)
	.number-item 
		h4.number-item-count= count
		span.number-item-text= title

mixin serviceItem(classIcon, title, desc)
	.service-item
		i.service-item-icon(class= classIcon)
		.service-item-info 
			h3.service-item-title= title
			p.service-item-desc= desc

mixin wedoItem(image, title, desc, active)
	.wedo-item(class= active)
		.wedo-item-header 
			img.wedo-item-icon(src= image)
			h3.wedo-item-title= title
			i.fal.fa-angle-down.wedo-item-arrow
		.wedo-item-content 
			.wedo-item-text= desc

mixin teamSocial(facebook = "#", twitter = "#", pinterest = "#", instagram = "#")
	ul.team-social 
		li.team-social-item
			a.team-social-link(href= facebook)
				i.fab.fa-facebook-f
		li.team-social-item
			a.team-social-link(href= twitter)
				i.fab.fa-twitter
		li.team-social-item
			a.team-social-link(href= pinterest)
				i.fab.fa-pinterest-p
		li.team-social-item
			a.team-social-link(href= instagram)
				i.fab.fa-instagram

mixin teamItem(image, name, position)
	.team-item 
		.team-main 
			img(src= image).team-image
			.team-content 
				if block 
					block
		.team-info
			h3.team-name= name
			span.team-position= position

mixin workItem(image, full = '', icon = 'fa fa-image', title = 'Creatively Designed', desc = 'Lorem ipsum dolor sit')
	.work-item(class= full)
		img.work-image(src= image)
		.work-content 
			i.work-icon(class= icon) 
			h3.work-title= title
			span.work-desc= desc